@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --hue: 20;
  --dark: hsl(var(--hue), 80%, 50%);
  --light: hsl(var(--hue), 80%, 90%);
}

body {
  font-family: Nunito, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

header {
  background-color: var(--dark);
  color: var(--light);
  overflow: auto;
  padding: 0.5rem;
}

h1 {
  margin: 0;
}


ul {
  list-style: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 1em 0.5rem;
  margin: 0;
  border: 0px solid var(--dark);
}

li:nth-child(odd) {
  background-color: var(--light);
  border-width: 0.5px 0;
}
