@media screen and (min-width: 500px) {

  #menuToggler {
    display: none;
    transform: translateX(0);
  }

  nav {
  display: flex;
  flex-direction: column;

  /* more custom styles */

  position: static;
  width: 100%;
  top: 0;
  transform: translateX(100vh);
  transition: 0.5s;
}

nav.open {
  transform: translateX(0);
}

#menuToggler {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  /* more custom styles */
}
