@media screen and (min-width: 500px) {

  #menuToggler {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    opacity: 0;
  }

}
nav.open {
  display: flex;
  opacity: 1;
}
